#home-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 85px;
  min-height: 100vh;
}

button {
  border: 2px solid #d1a70f;
  padding: 5px 15px;
  border-radius: 5px;
  background: #474646;
  color: #fff;
}

.albums-page {
  display: flex;
  flex-direction: column;
}

.filter-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  color: white;
}

.filter-list label {
  padding-right: 10px;
}

.albums-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.album-list .album-container {
  flex: 1;
}

.album-container {
  display: flex;
  flex-direction: column;

  width: 200px;
}
.album-container img {
  width: 100%;
}

.album-container .qobuz {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 30px;
  right: 10px;
  align-self: self-end;
}

.album-container span {
  color: #fff;
}

.album-container p {
  color: #ccc;
}

@media screen and (max-width: 1024px) {
  #home-container {
    margin: 20px;
  }
}

@media screen and (max-width: 680px) {
  .album-container {
    width: 250px;
  }
}

@media screen and (max-width: 460px) {
  .album-container {
    width: auto;
  }
}
